* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  width: auto;
}

main {
  background-color: whitesmoke;
  padding-bottom: 115px;
}

.left {
  display: block;
}

.left img {
  display: block;
  width: 320px;
  max-height: 106px;
  margin: auto;
  padding-top: 10px;
}

.left h2 {
  max-width: 380px;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: normal;
  margin: auto;
  color: darkslategray;
}

.right {
  display: -ms-grid;
  display: grid;
}

.container--login {
  display: -ms-grid;
  display: grid;
  background-color: white;
  margin-bottom: 8px;
  -ms-grid-column-align: center;
      justify-self: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #dddfe2;
  border-radius: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  margin-top: 40px;
  -webkit-box-shadow: 5px 10px 5px #e2dbdb;
          box-shadow: 5px 10px 5px #e2dbdb;
}

.container--login input {
  display: block;
  font-size: 17px;
  width: 330px;
  border-radius: 6px;
  border: 1px solid #dddfe2;
  padding: 16px;
  margin: 3px;
  margin-bottom: 8px;
  color: lightkgray;
}

.login {
  display: block;
  background-color: rgba(24, 119, 242, 0.9);
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  margin-top: 7px;
  width: 364px;
  -ms-grid-column-align: center;
      justify-self: center;
  color: white;
  font-weight: bolder;
  margin-bottom: 15px;
}

section a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #1877f2;
  text-align: center;
  margin-bottom: 24px;
  padding: 0;
  text-decoration: none;
  padding-bottom: 8px;
  margin: auto;
  font-family: sans-serif;
  font-size: 14px;
}

.creation {
  color: black;
  margin: auto;
  font-family: sans-serif;
  font-size: 14px;
  margin-top: 20px;
}

hr {
  color: darkgray;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 16px;
}

.register {
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 0 16px;
  background-color: rgba(16, 192, 44, 0.9);
  border-color: #42b72a;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 0 16px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 24px;
  color: white;
  font-weight: bolder;
  margin-bottom: -9px;
}

footer ul {
  list-style: none;
  gap: 5px;
  margin-top: 25px;
  margin-left: 25px;
}

footer ul li {
  display: inline-block;
  color: darkslategray;
  font-size: 14px;
  margin-right: 5px;
  line-height: 1.34;
  margin-right: 8px;
}

footer ul li a {
  color: darkgray;
  text-decoration: none;
}

a:hover {
  -webkit-text-decoration: darkgray underline;
          text-decoration: darkgray underline;
}

.realfooter {
  color: darkgray;
  margin-left: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
  font-size: 12px;
}

strong:hover {
  text-decoration: underline;
}

ul:first-child {
  text-align: start;
}

.btn {
  border: 1px solid darkgray;
  padding: 2px 9px 2px 9px;
  color: black;
  font-weight: 900;
  background-color: whitesmoke;
}

.login:hover {
  background-color: rgba(25, 99, 196, 0.9);
}

.register:hover {
  background-color: #42b72a;
}

strong {
  color: black;
  -webkit-text-decoration: 1px solid gray;
          text-decoration: 1px solid gray;
}
/*# sourceMappingURL=styles.css.map */